@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 98deg 28% 41%;
    --color-secondary: 0deg 0% 100%;
    --color-accent: 128deg 28% 21%;
  }

  html,
  body {
    scroll-behavior: smooth !important;
  }
}
